.App{
    background-color: #eee;
    height: 100vh;
    width: 100vw;
}
.search-bar-container{
    padding-top: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}
hr{
    color: rgb(45, 167, 180);
}

.ending-hr{
    margin-top: 200px;
    color: lightgray;
}